.out-team{
    text-align: center;
    margin-bottom: 20px;
}

.text{
    font-size: 20px;
}

.Text1{
    font-size: 20px;
}

.our-team .container--flex{
    align-items:flex-start ;
}

.our-team__title{
    font-family: "Pacifico",cursive;
    color: #3a7cde;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.our-team__img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.our-team__txt{
    padding: 10px;
   
}

@media screen and (min-width:480px){
    .our-team__img{
        width: 150px;
        height:150px;
    }
}

@media screen and (min-width:768px){
        .our-team__img{
            width: 220px;
            height:220px;
        }
}

@media screen and (min-width:1024px){
    .our-team__img{
        width: 250px;
        height: 250px;
    }
}

@media screen and (min-width:1600px){
    .our-team__img{
        width: 380px;
        height: 380px;
    }
}